<!DOCTYPE html>
<html>

<head>
    <title> The Solar System</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="text-center justify-content-center">
    <div class="text-monospace jumbotron">
        <h1>Welcome to the Solar System</h1>
    </div>
    
    <p>Click on a planet to know more about it: </p>
    
    <div>
        <a class="bg-info text-light" href="/">Home Page</a>
        <a class="bg-info text-light" href="/mercury">Mercury</a>
        <a class="bg-info text-light" href="/venus">Venus</a>
        <a class="bg-info text-light" href="/earth">Earth</a>
        <a class="bg-info text-light" href="/mars">Mars</a>
        <a class="bg-info text-light" href="/jupiter">Jupiter</a>
        </br>
        </br>
    </div>