<% include partials/header.ejs %>
    
    <h1>Welcome to Earth!</h1>
    <img src="/img/earth.jpg" alt="Earth"/>
    </br></br>
    <p>
        Earth is the third planet from the sun in the solar system.  It contains the only atmosphere within the solar
        system that is cappable of sustaining life.  Luna is the only moon, and permanent natural satelite that orbits
        the planet.  An interesting fact about Earth is that it is the only planet within our solar system that does not
        share a name with a Greek, or Roman deity.  
    </p>
    
<%include partials/footer %>
