<% include partials/header.ejs %>
    
    <h1> Welcome to Jupiter!</h1>
    <img src="/img/jupiter.png" alt="Jupiter"/>
    </br></br>
    <p>
        Jupiter is the fifth planet out from the sun in the solar system.  Its atmosphere consists of primarily
        molecular hydrogen, and helimum.  There are 79 moons that orbit the planet, a noteable one is Europa 
        which has an ocean underneath the surface of the moon.  An interesting fact about Jupiter is that
        it has a storm three times the size of Earth raging on it.  
    </p>

<%include partials/footer %>
