<% include partials/header.ejs %>
    
    <h1> Welcome to Mars!</h1>
    <img src="/img/mars.jpg" alt="Mars"/>
    </br></br>
    <p>Mars is the fourth planet from the sun in the solar system.  It has a thin atmosphere that is composed of mostly
    Carbon dioxide.  There are are two moons that orbit the terrestial planet which are phobos and Deimos.  An interesting
    fact about Mars is that it contains the largest mountain in the solar system, Olympus Mon that is an incredible 
    21 km high, and 600km in diameter.  
    </p>

<%include partials/footer %>
