<% include partials/header.ejs %>
    <h1> Welcome to Mercury!</h1>
    <img src="/img/mercury.png" href="Mercury"/>   
    </br></br>
    <p>
        Mercury is the closest planet to the sun in the solar system.  It does not have an atmosphere, or any 
        moons that orbit around the planet.  In terms of size it is the smallest planet in the solar system 
        at 4879km in diamater.  An interesting fact about Mercury is that one day on the planet is 
        equivalent to 176 days on Earth.
    </p>
<%include partials/footer %>