<% include partials/header.ejs %>
    <h1> Welcome to Venus!</h1>
    <img src="/img/venus.jpg" href="Venus"/> 
    </br></br>
    <p>
        Venus is the second planet from the sun in the solar system.  The atmosphere of the planet consists of 
        primarily carbon dioxide, and its atmospheric pressure is 92 times greater than Earth's atmospheric
        pressure.  There are no moons orbiting it.  An interesting fact about Venus is that it is the second
        brightest object in the solar system.
    </p>
<%include partials/footer %>
