body{
    background-color: #CBE2F6 !important;
    text-align: center;
}

a{
    padding: 5px;
    text-decoration: none;
    border: 2px black solid;
    color: white;
}

p{
    padding-left:25%;
    padding-right: 25%;
}

img{
    border-radius: 170px;
}

